<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/styles.css" rel="stylesheet" />

    <title>{% block title %}{{ title }}{% endblock %}</title>

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      addEventListener("load", (_) => {
        lucide.createIcons();
      });

      addEventListener("htmx:afterSwap", (_) => {
        lucide.createIcons();
      });
    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
