<form
  hx-post="/api/files"
  hx-target="#files"
  hx-swap="innerHTML"
  class="card bg-base-100 w-96 shadow-sm mb-4"
  enctype="multipart/form-data"
>
  <div class="card-body">
    <h2 class="card-title">Upload a new file</h2>
    <input type="file" name="file" id="todo" class="file-input" />
    <div class="divider"></div>
    <div class="inline-flex flex-row">
      <input
        type="text"
        name="title"
        id="title"
        class="input"
        placeholder="Title"
      />
      <button type="submit" class="btn">Add</button>
    </div>
  </div>
</form>

<div class="divider"></div>
<div
  id="files"
  hx-get="/api/files"
  hx-trigger="refreshFiles from:body, load"
  hx-swap="innerHTML"
></div>
