{% if error.is_some() %}
<div class="alert alert-error shadow-lg mb-4">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l2 2m-2-2l-2 2m10 0h-2m-4 0H6m8 0a4 4 0 100-8 4 4 0 000 8z" />
    </svg>
    <span>{{ error.as_ref().unwrap().message }}</span>
  </div>
</div>
{% endif %}


{% for file in files %}
<div class="card bg-base-100 shadow-xl mb-4">
  <div class="card-body flex-row justify-between">
    <div>
      <h2 class="card-title">{{ file.name }}</h2>
      <p class="text-gray-500"> {{ file.human_readable_size() }}</p>
    </div>
    <div class="card-actions" >
      <div class="h-full flex items-center justify-center">
        <a
          href="/download/{{ file.name }}"
          class="btn btn-circle bg-green-500 inline-flex align-middle"
          download
        >
          <i data-lucide="download"></i>
        </a>
      </div>
      <div class="h-full flex items-center justify-center">
        <button
          hx-delete="/api/files/{{ file.name }}"
          class="btn btn-ghost btn-circle btn-xs text-red-400"
        >
          <i data-lucide="trash"></i>
        </a>
      </div>
    </div>
  </div>
</div>
{% else %}
<p class="text-center text-gray-500">
  No files uploaded yet.
</p>
{% endfor %}
